<div class="card">
    <div class="header">
        <h2>[[title]]<i>([[config.considered_executions]] ejecuciones)</i></h2>
        <br>
        <select
            class="form-control process-picker"
            ng-model="model"
            ng-change="load_chart(item)"
            ng-options='item as item.title for item in source'>
            <option value="" disabled>-- Seleccione un proceso --</option>
        </select>
    </div>
    <div class="body">
        <canvas height="170px"></canvas>
   </div>
</div>