<div class="card">
  <div class="header">
      <h2>{{title}}<small>Top 5</small> </h2>
  </div>
  <div class="body">
      <ul class="list-group offices-group">
          <li class="list-group-item" ng-repeat='item in list' ng-click='modalEvent(item)'>
              <div class="row">
                  <div class="col-sm-7">
                      <strong>[[item.node.title]]</strong>
                  </div>
                  <div class="col-sm-5">
                      <div class="progress">
                          <div
                              class="progress-bar  progress-bar-striped active "
                              ng-class='{
                                  "progress-bar-danger" :  getLevel(item.value_risk()) == "high",
                                  "progress-bar-warning" : getLevel(item.value_risk()) == "medium",
                                  "progress-bar-success" : getLevel(item.value_risk()) == "low"
                              }'
                              role="progressbar"
                              aria-valuenow="75"
                              aria-valuemin="0"
                              aria-valuemax="100"
                              style="width: [[item.value_risk()]]%;">
                              [[item.value_risk()]]%
                          </div>
                      </div>
                  </div>
              </div>
          </li>
          <li class="list-group-item" ng-show='items.length == 0'>
              Sin información
          </li>
      </ul>
  </div>
</div>