body {
  user-select: none;
}
/* List */
.material-icons{
    vertical-align: middle;
}
.process-scroll {
    height: 86px;
    overflow-x: hidden;
    overflow-y: -webkit-paged-x;
}
.collapse > .btn-circle{
    border-radius: 20%;
    height: 120px;
    width: 190px;
}
.panel-group button.btn{
  color: white !important;
}
.btn-macro-process {
    color: white;
    background-color: #2a7496 !important;
    box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    min-width: 300px;
    padding: 30px 0px;
    font-size: 13pt !important;
}
.btn-macro-process:hover {
    background-color: #155573 !important;
    color: white;
}
.btn-subprocess{
    height: 56px;
    min-width: auto;
    white-space: normal;
    width: 270px;
    background-color: #2a7496 !important;
}
.btn-subprocess:hover {
    background-color: #2a7496 !important;
    color: white;
}
.btn-process{
/*    min-width: 270px;
    max-width: 270px;*/
    white-space: normal;
    background-color: #2a7496 !important;
    /*height: 56px;*/
}
.btn-process:hover{
    background-color: #155573 !important;
    color: white;
}
.selected-node {
    box-shadow: 0 0 2px 3px #81c1de !important;
}
.well-process{
    background-color: white;
    box-shadow: inset 0 0 6px 0px #00000024;
}
.blur{
      background: #688ea0 !important;
    box-shadow: 0px 2px 4px #e4f5f5 !important;
    /*background-color: rgba(42, 116, 150, 0.38) !important*/
}
.blur .box-content {
    /*opacity: .2;*/
}
.well-sub-process{
    background-color: #eeeeee42;
    box-shadow: inset 0 0 4px #aaaaaa94;
}
span.process-text{
    top: 10px !important;
    font-size: 14pt;
}
.btn-disabled {
  background: #dceaea !important;
  cursor: default;
    opacity: .5;
}
.btn-disabled:hover {
  background: #dceaea !important;
  cursor: default;
}
.btn-disabled .traffic-light{
  background: linear-gradient(to bottom, rgb(164, 164, 164) 0%, rgb(109, 113, 119) 100%)
}
.btn-disabled .traffic-light-component {
  opacity: 0.2 !important;
}

/* Traffic Light */

/* Animations */
@-webkit-keyframes BLINK-YELLOW-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #474a34  ; }
  40%  { box-shadow: inset 0 0 10px 1px #474a34 ;; }
  100% { box-shadow: inset 0 0 4px 1px #474a34  ; }
}
@-moz-keyframes BLINK-YELLOW-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #474a34  ; }
  40%  { box-shadow: inset 0 0 10px 1px #474a34 ;; }
  100% { box-shadow: inset 0 0 4px 1px #474a34  ; }
}
@-o-keyframes BLINK-YELLOW-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #474a34  ; }
  40%  { box-shadow: inset 0 0 10px 1px #474a34 ;; }
  100% { box-shadow: inset 0 0 4px 1px #474a34  ; }
}
@keyframes BLINK-YELLOW-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #474a34  ; }
  40%  { box-shadow: inset 0 0 10px 1px #474a34 ;; }
  100% { box-shadow: inset 0 0 4px 1px #474a34  ; }
}

@-webkit-keyframes BLINK-RED-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #9c1d14; }
  40%  { box-shadow: inset 0 0 10px 1px #9c1d14;; }
  100% { box-shadow: inset 0 0 4px 1px #9c1d14; }
}
@-moz-keyframes BLINK-RED-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #9c1d14; }
  40%  { box-shadow: inset 0 0 10px 1px #9c1d14;; }
  100% { box-shadow: inset 0 0 4px 1px #9c1d14; }
}
@-o-keyframes BLINK-RED-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #9c1d14; }
  40%  { box-shadow: inset 0 0 10px 1px #9c1d14;; }
  100% { box-shadow: inset 0 0 4px 1px #9c1d14; }
}
@keyframes BLINK-RED-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #9c1d14; }
  40%  { box-shadow: inset 0 0 10px 1px #9c1d14;; }
  100% { box-shadow: inset 0 0 4px 1px #9c1d14; }
}

@-webkit-keyframes BLINK-GREEN-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #0b7910; }
  40%  { box-shadow: inset 0 0 10px 1px #0b7910;; }
  100% { box-shadow: inset 0 0 4px 1px #0b7910; }
}
@-moz-keyframes BLINK-GREEN-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #0b7910; }
  40%  { box-shadow: inset 0 0 10px 1px #0b7910;; }
  100% { box-shadow: inset 0 0 4px 1px #0b7910; }
}
@-o-keyframes BLINK-GREEN-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #0b7910; }
  40%  { box-shadow: inset 0 0 10px 1px #0b7910;; }
  100% { box-shadow: inset 0 0 4px 1px #0b7910; }
}
@keyframes BLINK-GREEN-TRAFFIC-LIGHT {
  0%   { box-shadow: inset 0 0 4px 1px #0b7910; }
  40%  { box-shadow: inset 0 0 10px 1px #0b7910;; }
  100% { box-shadow: inset 0 0 4px 1px #0b7910; }
}

/* /Animations */
.traffic-light-component{
    position: absolute;
    top: 3px;
    right: 3px;
}
.traffic-light{
    height: 20px;
    width: 60px;
    border-radius: 4px;
    box-shadow: 0 0 3px 2px #5d5f61;
    background: rgba(207,214,227,1);
    background: -moz-linear-gradient(top, rgba(207,214,227,1) 0%, rgba(93,118,158,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207,214,227,1)), color-stop(100%, rgba(93,118,158,1)));
    background: -webkit-linear-gradient(top, rgba(207,214,227,1) 0%, rgba(93,118,158,1) 100%);
    background: -o-linear-gradient(top, rgba(207,214,227,1) 0%, rgba(93,118,158,1) 100%);
    background: -ms-linear-gradient(top, rgba(207,214,227,1) 0%, rgba(93,118,158,1) 100%);
    background: linear-gradient(to bottom, rgba(207,214,227,1) 0%, rgba(93,118,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd6e3', endColorstr='#5d769e', GradientType=0 );
}
.traffic-light .light{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 100%;
    box-shadow: inset 0px 0px 16px 1px #1f4354;
    margin: 1px 0 0 1px;
    transition: all 2s;
}
.traffic-light .light.red{
    background-color: #d2a1a1;
}
.traffic-light .light.yellow{
    background-color: #e4e0b4;
}
.traffic-light .light.green{
    background-color: #b8e2bb
}
.traffic-light .light.selected-green{
    background-color: #20e020;
    box-shadow: inset 0 0 4px 1px #0b7910;

    animation:         BLINK-GREEN-TRAFFIC-LIGHT 3s infinite; /* IE 10+, Fx 29+ */
    -webkit-animation: BLINK-GREEN-TRAFFIC-LIGHT 3s infinite; /* Safari 4+ */
    -moz-animation:    BLINK-GREEN-TRAFFIC-LIGHT 3s infinite; /* Fx 5+ */
    -o-animation:      BLINK-GREEN-TRAFFIC-LIGHT 3s infinite; /* Opera 12+ */
}
.traffic-light .light.selected-yellow{
    background-color: #ffff00;
    box-shadow: inset 0 0 4px 1px #9c7d1d;

    animation:         BLINK-YELLOW-TRAFFIC-LIGHT 3s infinite; /* IE 10+, Fx 29+ */
    -webkit-animation: BLINK-YELLOW-TRAFFIC-LIGHT 3s infinite; /* Safari 4+ */
    -moz-animation:    BLINK-YELLOW-TRAFFIC-LIGHT 3s infinite; /* Fx 5+ */
    -o-animation:      BLINK-YELLOW-TRAFFIC-LIGHT 3s infinite; /* Opera 12+ */
}
.traffic-light .light.selected-red{
    background-color: #ff5722;
    box-shadow: inset 0 0 4px 1px #9c1d14;

    animation:         BLINK-RED-TRAFFIC-LIGHT 3s infinite; /* IE 10+, Fx 29+ */
    -webkit-animation: BLINK-RED-TRAFFIC-LIGHT 3s infinite; /* Safari 4+ */
    -moz-animation:    BLINK-RED-TRAFFIC-LIGHT 3s infinite; /* Fx 5+ */
    -o-animation:      BLINK-RED-TRAFFIC-LIGHT 3s infinite; /* Opera 12+ */
}


