{% extends 'base/base.html'%}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="/static/node_modules/bootstrap-select/dist/css/bootstrap-select.css">

    <link rel="stylesheet" type="text/css" href="/static/css/processes/style.css">

    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/custom-style.css">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/main.css">

    <style type="text/css">
        .carousel {
            width: 100%;
            height: 80px;
            scroll-behavior: auto;
            overflow-y: hidden;
        }
        .box-collection {
            display: inline-block;
            vertical-align: top;
            width: 85%;
        }

        .carousel .lateral-end .box-content,
        .carousel .lateral-end .box-content  {
            padding: 0 !important;
            margin: 25% 0;
        }
        .carousel .lateral-end {
            cursor: pointer;
            display: inline-block;
            width: 5%;
        }

        .carousel .lateral-end:first-child {
            margin-right: 2%;
            margin-left: 0;
        }
        .carousel .lateral-end:last-child  {
            margin-left: 2%;
            margin-right: 0;
        }

        .carousel .box{
            display: inline-block;
            position: relative;
            vertical-align: top;
            width: 21%;
            margin: 0 2%;
            background-color: #2a7496;
            box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
            text-shadow: 0 0 1px rgb(0, 0, 0);
        }

        .carousel .box .box-content {
            text-align: center;
            cursor: pointer;
            width: 100%;
            margin: 0 auto;
            color: white;
            font-size: 13pt;
            padding: 30px 0px;

            -webkit-touch-callout: none; /* iOS Safari */
              -webkit-user-select: none; /* Safari */
               -khtml-user-select: none; /* Konqueror HTML */
                 -moz-user-select: none; /* Firefox */
                  -ms-user-select: none; /* Internet Explorer/Edge */
                      user-select: none; /* Non-prefixed version, currently
                                            supported by Chrome and Opera */
        }

    </style>
{% endblock %}


{% block scripts  %}

    <script type="text/javascript" src="/static/node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/bootstrap-menu/dist/bootstrapmenu.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.dummy.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.directives.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/process/process.controller.js"></script>

    <script type="text/javascript">
        add_module('DashboardModule');
        add_module('ProcessDummyService');
        add_module('ProcessModule');

        $(document).on('ready', function () {
            // Enable tooltips
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}

{% block content %}
<div class="row" ng-controller='procesessController'>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
            {% for root in root_nodes %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{root.id}}">
                    <h3 class="panel-title">
                            <!-- href="#collapse{{root.id}}" -->
                        <a
                            role="button"
                            data-toggle="collapse"
                            data-parent="#accordion_1"
                            aria-expanded="true"
                            aria-controls="collapse{{root.id}}"
                            ng-click='getMacroProcesses({{root.id}}, "#collapse{{root.id}}")'>
                        {{root.title}}
                        </a>
                    </h3>
                </div>
                <div id="collapse{{root.id}}" class="panel-collapse collapse collapse-macroprocess" role="tabpanel" aria-labelledby="heading{{root.id}}" >
                    <div class="panel-body">
                        <div class="carousel">
                            <div class="lateral-end"> <div class="box-content" ng-hide='deployed_panels.macro_process' ng-class='{ "btn-disabledd" : !is_valid_movement("macroprocesses_nodes", "backward")}' ng-click='move("macroprocesses_nodes", "backward")'><i class="material-icons md-48">arrow_back</i></div> </div>
                            <div class="box-collection">
                                <div class="box" ng-repeat='macroprocess in macroprocesses_nodes.list' ng-class="{'blur' : blur('macro_process', macroprocess.id) && macroprocess.is_enabled}" >
                                    <div class="box-content"
                                        ng-click='getProcess(macroprocess, "#collapse-process-{{root.id}}")'
                                        data-node-id='[[macroprocess.id]]'
                                        ng-class="{
                                            'btn-enabled' : macroprocess.is_enabled,
                                            'btn-disabled' : !macroprocess.is_enabled,
                                            'selected-node' : current_selected.macro_process == macroprocess.id
                                        }" >
                                        <span class="process-title"> [[macroprocess.title]] </span>
                                        <div class="traffic-light-component" config='config' node='macroprocess'> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lateral-end"> <div class="box-content" ng-hide='deployed_panels.macro_process' ng-class='{ "btn-disabledd" : !is_valid_movement("macroprocesses_nodes", "forward")}' ng-click='move("macroprocesses_nodes", "forward")'><i class="material-icons md-48">arrow_forward</i></div> </div>
                        </div>
                    </div>
                </div>
                <div id="collapse-process-{{root.id}}" class="collapse collapse-process">
                    <div class="panel-body">
                        <div class="carousel">
                            <div class="lateral-end"> <div class="box-content" ng-hide='deployed_panels.process' ng-class='{ "btn-disabledd" : !is_valid_movement("process_nodes", "backward")}' ng-click='move("process_nodes", "backward")'><i class="material-icons md-48">arrow_back</i></div> </div>
                            <div class="box-collection">
                                <div class="box" ng-repeat='process in process_nodes.list' ng-class="{'blur' : process.is_enabled  && blur('process', process.id)}"  >
                                    <div class="box-content"
                                        data-node-id='[[process.id]]'
                                        ng-click='getSubProcess(process, "#collapse-subprocess-{{root.id}}")'
                                        ng-class="{
                                            'btn-enabled' : process.is_enabled,
                                            'btn-disabled' : !process.is_enabled,
                                            'selected-node' : current_selected.process == process.id
                                        }" >
                                        <span> [[process.title]] </span>
                                        <div class="traffic-light-component" config='config' node='process'> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lateral-end"> <div class="box-content" ng-hide='deployed_panels.process' ng-class='{ "btn-disabledd" : !is_valid_movement("process_nodes", "forward")}' ng-click='move("process_nodes", "forward")'><i class="material-icons md-48">arrow_forward</i></div> </div>
                        </div>
                    </div>
                </div>
                <div id="collapse-subprocess-{{root.id}}" class="collapse collapse-subprocess">
                    <div class="panel-body">
                        <div class="carousel">
                            <div class="lateral-end"> <div class="box-content" ng-show='deployed_panels.process' ng-class='{ "btn-disabledd" : !is_valid_movement("subprocess_nodes", "backward")}' ng-click='move("subprocess_nodes", "backward")'><i class="material-icons md-48">arrow_back</i></div> </div>
                            <div class="box-collection">
                                <div class="box" ng-repeat='subprocess in subprocess_nodes.list'>
                                    <div class="box-content"
                                        data-node-id='[[subprocess.id]]'
                                        ng-class="{
                                            'btn-enabled' : subprocess.is_enabled,
                                            'btn-disabled' : !subprocess.is_enabled,
                                        }" >
                                        <span> [[subprocess.title]] </span>
                                        <div class="traffic-light-component" config='config' node='subprocess'> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="lateral-end"> <div class="box-content" ng-show='deployed_panels.process' ng-class='{ "btn-disabledd" : !is_valid_movement("subprocess_nodes", "forward")}' ng-click='move("subprocess_nodes", "forward")'><i class="material-icons md-48">arrow_forward</i></div> </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-12">
        <!-- Summary Cards -->
        <!-- Detail boxes -->
      <div class='tops-collection'>
            <div class="row">
                <br>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <top-process-component
                        class="top-process-component"
                        ng-if='card_lists.top_processes'
                        modal_event='show_node_files_modal'
                        title='Macro Proceso porcentaje de incidencias'
                        list='card_lists.top_processes["MAC_PROC"]'
                        config='config' >
                    </top-process-component>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <top-process-component
                        class="top-process-component"
                        ng-if='card_lists.top_processes'
                        modal_event='show_node_files_modal'
                        title='Proceso con mayor porcentaje de incidencias'
                        list='card_lists.top_processes["MID_PROC"]'
                        config='config' >
                    </top-process-component>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <top-process-component
                        class="top-process-component"
                        ng-if='card_lists.top_processes'
                        modal_event='show_node_files_modal'
                        title='SubProcesso con mayor porcentaje de incidencias'
                        list='card_lists.top_processes["SUB_PROC"]'
                        config='config' >
                    </top-process-component>
                    <graphic-component
                        ng-if='graph_history'
                        config='config'
                        type='SUB_PROC'
                        source='graph_history["SUB_PROC"]'
                        title='Histórico de incidencias por subproceso'></graphic-component>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <graphic-component
                        ng-if='graph_history'
                        config='config'
                        type='MID_PROC'
                        source='graph_history["MID_PROC"]'
                        title='Histórico de incidencias por proceso'></graphic-component>
                </div>
            </div>
        </div>
        <!-- Graphs -->
      <div id="work-collections">
            <div class="row" style="backgroud:#f00">
<!--

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>Comportamiento en categoría de indicadores</h2>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col-sm-12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="line-chart-sample" height="170px"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>Incidencias por regiones</h2>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col-sm-12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="doughnut-chart" height="170px"></canvas>
                                        </div>
                                        <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
 -->
                

            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="node-detail-files">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>
                            <center><i><strong>[[selected_node.node.title]]</strong></center>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat='row in selected_node.indicators'>
                                <div class="panel-heading" role="tab" id="headingOne_1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#list-[[$index]]" aria-expanded="true" aria-controls="collapseOne_1">
                                        [[row.code]] - [[row.name]]
                                        </a>
                                    </h4>
                                </div>
                                <div id="list-[[$index]]" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat='run in row.runs'>
                                                [[run.date]]
                                                <a href="" ng-click='get_doc(run.file)'>
                                                <i class="material-icons right">file_download</i> 
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
</div>

        <div class="modal fade" tabindex="-1" role="dialog" id="dashboard-modal">
            <div class="modal-content">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li ng-repeat='row in modal_office_data'>
                        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>[[row.name]]<span style="position: absolute; right: 10%;">[[row.weight | limitTo : 4]]%</span></div>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item" ng-repeat='srow in row.iterator'>[[srow.name]]<span style="cursor: pointer; position: absolute; right: 10%;">
                                    <i class="mdi-file-file-download" ng-click='get_doc(row, srow)'></i></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
</div>

        <div class="modal fade" tabindex="-1" role="dialog" id="indicators-per-node">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="defaultModalLabel">Listado de Indicadores</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat='indicator in modal_current_indicators'>
                                <div class="panel-heading" role="tab" id="headingOne_1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#list-[[$index]]" aria-expanded="true" aria-controls="collapseOne_1" ng-click='executions_by_indicator(indicator)'>
                                        [[indicator.code]] - [[indicator.name]]
                                        </a>
                                    </h4>
                                </div>
                                <div id="list-[[$index]]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne_1">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <button type="button" class="list-group-item" ng-repeat='execution in indicator.executions'>
                                            [[execution.load_date]]
                                            <a href="" ng-click='get_doc(execution.file)'><i class="material-icons right">file_download</i> </a>
                                            </button>
                                            <button type="button" class="list-group-item" ng-if='indicator.executions.length == 0'>
                                            Este indicador no tiene ejecuciones previas
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="process-details">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2> Detalles </h2>
            </div>
            <div class="modal-body">
                <div class="body">
                    <ul class="list-group">
                        <li ng-if='node_details.node_type != "SUB_PROC"' class="list-group-item" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <strong>Descripción</strong>
                            <i class="right">[[ node_details.description | limitTo : 22 ]] [...] </i>
                        </li>
                        <li ng-if='node_details.node_type != "SUB_PROC"' class="collapse" id="collapseExample">
                            <div class="well">[[node_details.description]]</div>
                        </li>
                        <li ng-if='node_details.node_type != "SUB_PROC"' class="list-group-item">
                            <strong>Dueño</strong><i class="right">[[node_details.owner_name]]</i>
                        </li>
                        <li ng-if='node_details.node_type != "SUB_PROC"' class="list-group-item">
                            <strong>Lider</strong><i class="right">[[node_details.leader_name]]</i>
                        </li>
                        <li ng-if='node_details.node_type != "SUB_PROC"' class="list-group-item">
                            <strong>Cantidad de [[(node_details.node_type == 'MAC_PROC') ? 'procesos' : 'subprocesos' ]]</strong> <i class="right">[[node_details.number_of_children]]</i>
                        </li>
                        <li class="list-group-item">
                            <strong>[[ (config.indicator_type =='qty'? 'Cantidad' : 'Monto')]] Incidencias</strong> <i class="right">[[(config.indicator_type =='qty'? node_details.value_sum() : 'RD$' + node_details.value_sum() ) ]]</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

{% endblock %}

