{% extends 'base/base.html'%}

{% block styles %}
    <!-- <link type="text/css" rel="stylesheet" href="/static/node_modules/bootstrap-select/dist/css/bootstrap-select.css"> -->

    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/style.css">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/custom-style.css">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/static/css/main.css">
{% endblock %}

{% block scripts %}
    <!-- Bootstrap Select -->
    <!-- <script type="text/javascript" src="/static/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script> -->

    <!-- Angular Modules -->
    <script type="text/javascript" src="/static/js/modules/components/map/map-view.model.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/map/map-view.controller.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.service.js"></script>
    <script type="text/javascript" src="/static/js/modules/components/dashboard/dashboard.controller.js"></script>
    <script type="text/javascript">
        add_module('MapViewModule');
        add_module('DashboardModule');
    </script>
{% endblock %}

{% block content %}
<div class="row" ng-controller='map_view'>
    <div class="col-sm-12 col-sm-12">
        <div class="card" style="padding:2px 13px 2px 13px">
            {% include 'dashboard/map_view.html'%}
        </div>
    </div>
</div>

<div ng-controller='dashboardController'>
    <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card card-dashboard">
                <div class="header bg-light-green">
                    <div class="demo-google-material-icon">
                        <i class="material-icons">dashboard</i> <span class="icon-name">Categoría</span>
                    </div>
                    <h2>
                        [[resume_box.category.category_name]] <small>Últimas [[ settings.considered_executions ]] ejecuciones</small>
                    </h2>
                </div>
            </div>
        </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card card-dashboard">
                <div class="header bg-blue">
                    <div class="demo-google-material-icon"> <i class="material-icons">dashboard</i> <span class="icon-name">Oficina</span> </div>
                    <h2>
                        [[resume_box.office.office_name]] <small>Últimas [[ settings.considered_executions ]] ejecuciones</small>
                    </h2>
                </div>
            </div>
        </div><div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card card-dashboard">
                <div class="header bg-teal">
                    <div class="demo-google-material-icon"> <i class="material-icons">dashboard</i> <span class="icon-name">Indicador</span> </div>
                    <h2>
                        [[resume_box.indicator.indicator_name]] <small>Últimas [[ settings.considered_executions ]] ejecuciones</small>
                    </h2>
                </div>
            </div>
        </div>

</div>
    <!-- Summary Cards -->
    <div id="card-stats">
        <div class="row"><!--
            <div class="s12">
                <h4 class="card-stats-number" style="margin-left: 10px;">Elementos con mayor cantidad de incidencias</h4>
            </div>
            <div class="col-sm-12 m6 l4">
                <div class="card" ng-mouseenter='resume_box.office.text_size = null' ng-mouseleave='resume_box.office.text_size = 20'>
                    <div class="card-content cyan darken-2 white-text" ng-class='{"expand" : resume_box.office.name.length > 20}'>
                        <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Oficina</p>
                        <h4 class="card-stats-number" >[[resume_box.office.name | limitTo: resume_box.office.text_size]]
                            <span ng-if='resume_box.office.name.length > 20 && resume_box.office.text_size != null'>[...]</span>
                        </h4>
                        <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                            <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 m6 l4">
                <div class="card" ng-mouseenter='resume_box.category.text_size = null' ng-mouseleave='resume_box.category.text_size = 20'>
                    <div class="card-content indigo lighten-2 white-text" ng-class='{"expand" : resume_box.category.name.length > 20}'>
                        <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Categoría</p>
                        <h4 class="card-stats-number" >[[resume_box.category.name | limitTo: resume_box.category.text_size]]
                            <span ng-if='resume_box.category.name.length > 20 && resume_box.category.text_size != null'>[...]</span>
                        </h4>
                        <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                            <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 m6 l4">
                <div class="card" ng-mouseenter='resume_box.indicator.text_size = null' ng-mouseleave='resume_box.indicator.text_size = 20'>
                    <div class="card-content light-blue lighten-2 white-text" ng-class='{"expand" : resume_box.indicator.name.length > 20}'>
                        <p class="card-stats-title"><i class="mdi-action-dashboard"></i> Indicador</p>
                        <h4 class="card-stats-number">[[resume_box.indicator.name | limitTo: resume_box.indicator.text_size]]
                            <span ng-if='resume_box.indicator.name.length > 20 && resume_box.indicator.text_size != null'>[...]</span>
                        </h4>
                        <p class="card-stats-compare"><span class="deep-purple-text text-lighten-5">Últimas [[settings.considered_executions ]] ejecuciones</span>
                            <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div>
                        </p>
                    </div>
                </div>
            </div>
         --></div>
    </div>
    <!-- Detail boxes -->
    <div id="work-collections">
        <div class="row">
            <br>
            <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Oficinas con mayor porcentaje de incidencias <small>Evaluación por oficinas</small>
                            </h2>
                        </div>
                        <div class="body">
                            <ul class="list-group offices-group">
                                <li class="list-group-item" ng-repeat='off in top_offices | orderBy: "-risk"' ng-click='loadModalTopOffices(off)'>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <strong>[[off.office_code]] -</strong> [[off.office_name]]
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="progress">
                                                <div
                                                    class="progress-bar progress-bar-striped active"
                                                    ng-class='{ "progress-bar-danger" : off.risk_level == "high", "progress-bar-warning" : off.risk_level == "medium", "progress-bar-success" : off.risk_level == "low"}'
                                                    role="progressbar"
                                                    aria-valuenow="75"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    style="width: [[off.risk]]%;">
                                                    [[off.risk]]%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-show='!top_offices || top_offices.length == 0'>
                                    Sin información
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>
                            Categoría con mayor porcentaje de incidencias<small>Evaluación por categoría de indicadores</small>
                        </h2>
                    </div>
                    <div class="body">
                        <ul class="list-group offices-group">
                            <li class="list-group-item mouse-hover" ng-repeat='category in top_categories | orderBy: "-risk"' ng-click='loadModalTopCategories(category)'>
                                <div class="row trigger-modal">
                                    <div class="col-sm-7 title">
                                        [[category.category_name]]
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="progress">
                                            <div
                                                class="progress-bar progress-bar-striped active"
                                                ng-class='{ "progress-bar-danger" : category.risk_level == "high", "progress-bar-warning" : category.risk_level == "medium", "progress-bar-success" : category.risk_level == "low"}'
                                                role="progressbar"
                                                aria-valuenow="75"
                                                aria-valuemin="0"
                                                aria-valuemax="100"
                                                style="width: [[category.risk]]%;">
                                            [[category.risk ]]%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item" ng-show='!top_categories || top_categories.length == 0'>
                                Sin información
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Graphs -->
    <div id="work-collections">
        <div class="row" style="backgroud:#f00">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                        <div class="header">
                            <h2>Comportamiento en categoría de indicadores</h2>
                        </div>
                        <div class="body">
                            <div id="morris-radar-chart" class="section">
                                <div class="row">
                                    <div class="col-sm-12 m12 19">
                                        <div class="sample-chart-wrapper">
                                            <canvas id="line-chart-sample" height="170px"></canvas>
                                        </div>
                                        <!-- <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Incidencias por regiones</h2>
                    </div>
                    <div class="body">
                        <div id="morris-radar-chart" class="section">
                            <div class="row">
                                <div class="col-sm-12 m12 19">
                                    <div class="sample-chart-wrapper">
                                        <canvas id="doughnut-chart" height="170px"></canvas>
                                    </div>
                                    <!-- <div class="row"  ng-show='loading.categories'> <div class="col-sm-12"> <div class="progress"> <div class="indeterminate"></div> </div> </div> </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Histórico de incidencias por indicador <i>( [[ settings.considered_executions ]] ejecuciones)</i></h2>
                        <br>
                        <select class="form-control show-tick" ng-model="history_by_indicator" ng-change="getHistory('indicator')" id="history_by_indicator">
                            {% for indicator in indicators %}           
                                {% if forloop.first %}  
                                <option value="{{ indicator.id }}"  selected="selected">{{ indicator.name }}</option>
                                {% else %}
                                    <option value="{{ indicator.id }}" >{{ indicator.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="body">
                        <canvas id="incidence_by_indicator" height="170px"></canvas></div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Histórico de incidencias por categoría<i>( [[ settings.considered_executions ]] ejecuciones)</i></h2>
                        <br>
                        <select class="form-control show-tick" ng-model="history_by_category" ng-change="getHistory('category')" id="history_by_category">
                            {% for category in categories %}           
                                {% if forloop.first %}  
                                <option value="{{ category.id }}"  selected="selected">{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.id }}" >{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="body">
                        <canvas id="incidence_by_category" height="170px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="top-offices-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Detalle de Oficina</h4>
                    <h3><center><i><strong>[[curr_office_modal.office_code]]</strong> - [[curr_office_modal.office_name]]</i> </center></h3>
                </div>
                <div class="modal-body">

                   <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" ng-repeat='category in curr_office_modal.categories'>
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#list-[[$index]]" aria-expanded="true" aria-controls="collapseOne_1">
                                         [[category.category_name]]
                                    </a>
                                </h4>
                            </div>
                            <div id="list-[[$index]]" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat='indicator in category.indicators'>
                                            [[indicator.indicator_name]]
                                            <a href="" ng-click='get_zip(category.category_id, indicator.indicator_id)'>
                                                <i class="material-icons right">file_download</i> 
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="top-categories-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="defaultModalLabel">Detalle de Categoría</h4>
                    <h3><center><i><strong>[[curr_category_modal.category_name]]</strong></i> </center></h3>
                </div>
                <div class="modal-body">

                   <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default" ng-repeat='indicator in curr_category_modal.indicators'>
                            <div class="panel-heading" role="tab" id="headingOne_1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#list-[[$index]]" aria-expanded="true" aria-controls="collapseOne_1">
                                         [[indicator.indicator_name]]
                                    </a>
                                </h4>
                            </div>
                            <div id="list-[[$index]]" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne_1">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat='file in indicator.files'>
                                            [[file.file_base_name]]
                                            <a href="" ng-click='get_doc(file.file_id)'>
                                                <i class="material-icons right">file_download</i> 
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dashboard-modal" class="modal">
    <div class="modal-content">
        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-repeat='row in modal_office_data'>
                <div class="collapsible-header active"><i class="material-icons">filter_drama</i>[[row.name]]<span style="position: absolute; right: 10%;">[[row.weight | limitTo : 4]]%</span></div>
                <div class="collapsible-body">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat='srow in row.iterator'>[[srow.name]]<span style="cursor: pointer; position: absolute; right: 10%;">
                            <i class="mdi-file-file-download" ng-click='get_doc(row, srow)'></i></span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
<div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
</div>
</div>
</div>

{% endblock %}
