{% extends 'base/base.html'%}

{% block styles %}
     <link type="text/css" rel="stylesheet" media="screen,projection" href="/assets/css/jquery/datatables.min.css">

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import Materialize-Stepper CSS (after importing materialize.css) -->
<link rel="stylesheet" href="/assets/node_modules/materialize-stepper/materialize-stepper.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-duallistbox.min.css">


{% endblock %}

{% block content %}
<div class="row" ng-controller="reportsController">

   <div class="col-md-12 m12">
      <div>
         <ul class="stepper horizontal">
            <li class="step active">
               <div data-step-label="Datos básicos del reporte" class="step-title waves-effect" style=" overflow: inherit !important">Información</div>
               <div class="step-content basic">
                  <div class="row">
                     <div class="input-field col-md-3">               
                        <label for="first_name">Nombre del reporte</label>
                     </div>
                     <div class="input-field col-md-9">
                        <input class="form-control" ng-model="report_data.report_name" id="name" name="name" type="text" class="validate" required>
                        <label for="first_name">Por favor digite el nombre del reporte</label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="input-field col-md-3">               
                        <label for="first_name">Tipo de reporte</label>
                     </div>
                     <div class="input-field col-md-9">
                        <div class="row">
                           <select class="form-control" ng-model="report_data.report_type">
                              <option value="no-graph" selected>Sin gráficos</option>
                              <option value="graph">Con gráficos</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="step entities">
               <div class="step-title waves-effect" data-step-label="Filtro de elementos del reporte" style=" overflow: inherit !important">Filtros</div>
               <div class="step-content entities">
                  <div class="row">
                     <div class="input-field col-md-12">
                        <div class="row multi-select">
                           <h4>Seleccione oficinas</h4>
                           <select class="browser-default" multiple id="offices" ng-model="report_data.offices">
                              {% for office in offices %}
                              <option value="{{office.id}}">({{office.code}}) {{office.name}}</option>
                              {% endfor %}
                           </select>
                           <BR/>
                           <h4>Seleccione indicadores</h4>
                           <select class="browser-default" multiple id="indicators" ng-model="report_data.indicators">
                              {% for indicator in indicators %}
                              <option value="{{indicator.id}}">{{indicator.code}} {{indicator.name}}</option>
                              {% endfor %}
                           </select>
                           <BR/>
                           <h4>Seleccione categorías</h4>
                           <select class="browser-default" multiple id="categories" ng-model="report_data.categories">
                              {% for category in categories %}
                              <option value="{{category.id}}">{{category.name}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
            <li class="step">
               <div data-step-label="Generar reporte" class="step-title end waves-effect">Generar</div>
               <div class="step-content generate">


                  <div class="row">
                     <div class="input-field col-md-3">               
                        <label for="first_name">Tipo de indicador</label>
                     </div>
                     <div class="input-field col-md-9">
                        <div class="row">
                           <select ng-model="report_data.indicator_type">
                              <option value="count" selected>Cantidad</option>
                              <option value="ammount">Monto</option>
                           </select>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="input-field col-md-3">               
                        <label for="first_name">Cantidad de ejecuciones</label>
                     </div>
                     <div class="input-field col-md-9">
                        <div class="row">
                           <select selectable="false" ng-model="report_data.executions_count">
                              <option value="1" selected>1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                           </select>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="input-field col-md-3">               
                        <label for="first_name">Agrupar por</label>
                     </div>
                     <div class="input-field col-md-9">
                        <div class="row">
                           <select ng-model="report_data.group_by">
                              <option value=""></option>
                              <option value="indicator_id">Indicador</option>
                              <option value="office_id">Oficina</option>
                              <option value="category_id">Categoría</option>
                           </select>
                        </div>
                     </div>
                  </div>

                  <div class="col-md-12 buttons">
                     <button class="btn waves-effect waves-light cyan lighten-1" type="button" ng-click="reset()" name="reset">Reiniciar</button>
                     <button class="btn waves-effect waves-light cyan lighten-1" type="button" ng-click="showReport()" name="action">Generar Reporte</button>
                  </div>

               </div>
            </li>
         </ul>
      </div>
      <div class="table-container2"></div>
   </div>
</div>

<style type="text/css">

    div.switch{
        display: none;
    }

    div.filter-categories{
        width: 314px;
        height: 148px;
        background: #00bcd4;
        border-radius: 8px;
        cursor: pointer;
        margin: 5px;
        box-shadow: 1px 1px 11px #dbdbdb;
    }

    div.filter-categories .select-wrapper{
        margin: -26px 10px 0px 10px;
    }

    ul.collection{
        overflow: inherit !important;
    }

    select{
        width: 150px;
    }

    div.step-content{
        width: 60% !important;
    }

    div.step-title.end{
        width: 100%;
        margin-right: 10px;
    }

    div.data-step-label{
        overflow: inherit !important;
    }


    div.multi-select .s6{
        float: left;
        width: 45%;
        margin-left: 5px;
    }

    div.step-content.entities{
        width: 100% !important;
    }

    div.step-content button{
        margin-top: -11px;
    }

    select.form-control{
        display: block !important;
        height: 140px;
        padding-top: 5px;        
    }

    div.multi-select .box1,
    div.multi-select .box2{

    }

    .dp48{
        margin-right: -11px !important;
        font-size: 29px !important;
    }

    .dp48.first{
        margin-right: -11px !important;    
    }

    div.step-content{

    }

    li.step.entities{
        height: 100% !important;
    }

    ul.dropdown-content.select-dropdown{
        max-height: 200px !important;
        z-index: 999999;
    }

    div.buttons{
        margin-top: 42px;
        z-index: -1000 !important;
        text-align: right;
        min-width: 400px !important;
    }

    div#table_data_filter,
    div#table_data_length{
        display: none !important;
    }

    div.btn-group.buttons{
        margin-top: -5px;
    }

    div.generate div.row{
        margin-top: -10px !important;
    }
</style>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="/assets/js/jquery/dataTables.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <!--Import Materialize-Stepper JavaScript (after the jquery.validate.js and materialize.js) -->
    <script src="/assets/node_modules/materialize-stepper/materialize-stepper.min.js"></script>
    <script src="/assets/js/jquery.bootstrap-duallistbox.min.js"></script>
    <script src="/assets/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
        $(function(){
           $('.stepper').activateStepper({autoFocusInput: false});
           $('select#indicators, select#categories, select#offices').bootstrapDualListbox();
           $('div.content').css('height', Math.ceil(($('div.multi-select').height())) + 'px !important');
        });
    </script>

{% endblock %}