{% extends 'base/base.html'%}

{% block content %}
	<br>
	<div class="row">
		<div class="col-md-5">
            <div class="list-group">
                <a class="list-group-item active">Navegación</a>
                <a class="list-group-item" href="{% url 'crud_category_indicator' %}">Categorías <i class="material-icons right">send</i></a>
                <a class="list-group-item" href="{% url 'crud_processes' %}">Procesos <i class="material-icons right">send</i></a>
            </div>
		</div>
	</div>

{% endblock %}